In [93]:
import numpy as np
import pandas as pd
from datetime import date, timedelta

In [43]:
trainUSD = pd.read_csv("~/Desktop/DataThon_Yarisma/trainUSD.csv", parse_dates=['Date'])
testUSD = pd.read_csv("~/Desktop/DataThon_Yarisma/testUSD.csv", parse_dates=['Date'])
trainUSD.head()

        Date   Price    Open    High     Low Change %
0 2016-01-01  2.9139  2.9177  2.9201  2.9129   -0.13%
1 2016-01-04  2.9642  2.9185  2.9810  2.9137    1.73%
2 2016-01-05  2.9852  2.9642  2.9918  2.9538    0.71%
3 2016-01-06  3.0024  2.9849  3.0160  2.9820    0.58%
4 2016-01-07  2.9993  3.0007  3.0290  2.9850   -0.10%

In [44]:
testUSD.head()

        Date   Price    Open    High     Low Change %
0 2021-01-01  7.4392  7.4392  7.4392  7.4392    0.10%
1 2021-01-04  7.4198  7.4403  7.4470  7.3393   -0.26%
2 2021-01-05  7.3856  7.4263  7.4382  7.3591   -0.46%
3 2021-01-06  7.3047  7.3893  7.3973  7.2663   -1.10%
4 2021-01-07  7.3149  7.3067  7.3955  7.2372    0.14%

In [66]:
train = pd.read_csv("~/Desktop/DataThon_Yarisma/train.csv", parse_dates= ["tarih"])
test = pd.read_csv("~/Desktop/DataThon_Yarisma/testFeatures.csv", parse_dates= ["tarih"])

trainkopya = train.copy()
testkopya = test.copy()
trainkopya.tail()

,tarih,ürün,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,market,şehir
227515,2020-12-01,fındık,110,kuruyemiş,51.19,Yurt dışı,B,H
227516,2020-12-01,fıstık,115,kuruyemiş,55.14,Yurt dışı,B,H
227517,2020-12-01,kaju,100,kuruyemiş,58.60,Yurt dışı,B,H
227518,2020-12-01,badem,110,kuruyemiş,51.83,Yurt dışı,B,H
227519,2020-12-01,ceviz,120,kuruyemiş,57.22,Yurt dışı,B,H

In [70]:
train[train["tarih"]== "2020-10-02"]["tarih"].count()

0

In [60]:
72000/3792

18.9873417721519

In [19]:
testkopya.head()

,id,tarih,ürün,ürün besin değeri,ürün kategorisi,ürün üretim yeri,market,şehir
0,0,2021-01-01,kıyma,120,et,Yurt içi,M,A
1,1,2021-01-01,tavuk,103,et,Yurt içi,M,A
2,2,2021-01-01,hindi,160,et,Yurt içi,M,A
3,3,2021-01-01,Bakla-kuru,354,sebze ve bakliyat,Yurt içi,M,A
4,4,2021-01-01,Bakla-taze,72,sebze ve bakliyat,Yurt içi,M,A

In [32]:
trainkopya = trainkopya.set_index("tarih")

In [33]:
trainkopya.head()

,ürün,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,market,şehir
tarih,,,,,,,
2016-01-01,kıyma,120,et,33.41,Yurt içi,M,A
2016-01-01,tavuk,103,et,11.22,Yurt içi,M,A
2016-01-01,hindi,160,et,11.12,Yurt içi,M,A
2016-01-01,Bakla-kuru,354,sebze ve bakliyat,7.02,Yurt içi,M,A
2016-01-01,Bakla-taze,72,sebze ve bakliyat,13.14,Yurt içi,M,A

In [34]:
testkopya.head()

,id,ürün,ürün besin değeri,ürün kategorisi,ürün üretim yeri,market,şehir
tarih,,,,,,,
2021-01-01,0,kıyma,120,et,Yurt içi,M,A
2021-01-01,1,tavuk,103,et,Yurt içi,M,A
2021-01-01,2,hindi,160,et,Yurt içi,M,A
2021-01-01,3,Bakla-kuru,354,sebze ve bakliyat,Yurt içi,M,A
2021-01-01,4,Bakla-taze,72,sebze ve bakliyat,Yurt içi,M,A

In [35]:
testkopya = testkopya.set_index("tarih")

KeyError: "None of ['tarih'] are in the columns"

In [36]:
testkopya.head()

,id,ürün,ürün besin değeri,ürün kategorisi,ürün üretim yeri,market,şehir
tarih,,,,,,,
2021-01-01,0,kıyma,120,et,Yurt içi,M,A
2021-01-01,1,tavuk,103,et,Yurt içi,M,A
2021-01-01,2,hindi,160,et,Yurt içi,M,A
2021-01-01,3,Bakla-kuru,354,sebze ve bakliyat,Yurt içi,M,A
2021-01-01,4,Bakla-taze,72,sebze ve bakliyat,Yurt içi,M,A

In [37]:
trainkopya.head()

,ürün,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,market,şehir
tarih,,,,,,,
2016-01-01,kıyma,120,et,33.41,Yurt içi,M,A
2016-01-01,tavuk,103,et,11.22,Yurt içi,M,A
2016-01-01,hindi,160,et,11.12,Yurt içi,M,A
2016-01-01,Bakla-kuru,354,sebze ve bakliyat,7.02,Yurt içi,M,A
2016-01-01,Bakla-taze,72,sebze ve bakliyat,13.14,Yurt içi,M,A

In [39]:
tamDF = pd.concat([trainkopya, testkopya])

In [40]:
tamDF

,ürün,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,market,şehir,id
tarih,,,,,,,,
2016-01-01,kıyma,120,et,33.41,Yurt içi,M,A,NaN
2016-01-01,tavuk,103,et,11.22,Yurt içi,M,A,NaN
2016-01-01,hindi,160,et,11.12,Yurt içi,M,A,NaN
2016-01-01,Bakla-kuru,354,sebze ve bakliyat,7.02,Yurt içi,M,A,NaN
2016-01-01,Bakla-taze,72,sebze ve bakliyat,13.14,Yurt içi,M,A,NaN
...,...,...,...,...,...,...,...,...
2021-12-01,fındık,110,kuruyemiş,NaN,Yurt dışı,B,H,45499.0
2021-12-01,fıstık,115,kuruyemiş,NaN,Yurt dışı,B,H,45500.0
2021-12-01,kaju,100,kuruyemiş,NaN,Yurt dışı,B,H,45501.0
2021-12-01,badem,110,kuruyemiş,NaN,Yurt dışı,B,H,45502.0
2021-12-01,ceviz,120,kuruyemiş,NaN,Yurt dışı,B,H,45503.0

In [47]:
trainUSD = trainUSD.set_index("Date")

KeyError: "None of ['Date'] are in the columns"

In [48]:
testUSD = testUSD.set_index("Date")

In [53]:
tamUSD = pd.concat([trainUSD, testUSD])

In [54]:
tamUSD

              Price     Open     High      Low Change %
Date
2016-01-01   2.9139   2.9177   2.9201   2.9129   -0.13%
2016-01-04   2.9642   2.9185   2.9810   2.9137    1.73%
2016-01-05   2.9852   2.9642   2.9918   2.9538    0.71%
2016-01-06   3.0024   2.9849   3.0160   2.9820    0.58%
2016-01-07   2.9993   3.0007   3.0290   2.9850   -0.10%
...             ...      ...      ...      ...      ...
2021-11-25  11.9029  12.0876  12.2650  11.8044   -1.51%
2021-11-26  12.4229  11.9886  12.7052  11.8965    4.37%
2021-11-29  12.8025  12.4014  12.9380  12.3266    3.06%
2021-11-30  13.4732  12.8264  13.7466  12.7063    5.24%
2021-12-01  13.2635  13.4856  13.8983  12.3977   -1.56%

[1522 rows x 5 columns]

In [56]:
DF = tamDF.join(tamUSD)

In [57]:
DF

,ürün,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,market,şehir,id,Price,Open,High,Low,Change %
2016-01-01,kıyma,120,et,33.41,Yurt içi,M,A,NaN,2.9139,2.9177,2.9201,2.9129,-0.13%
2016-01-01,tavuk,103,et,11.22,Yurt içi,M,A,NaN,2.9139,2.9177,2.9201,2.9129,-0.13%
2016-01-01,hindi,160,et,11.12,Yurt içi,M,A,NaN,2.9139,2.9177,2.9201,2.9129,-0.13%
2016-01-01,Bakla-kuru,354,sebze ve bakliyat,7.02,Yurt içi,M,A,NaN,2.9139,2.9177,2.9201,2.9129,-0.13%
2016-01-01,Bakla-taze,72,sebze ve bakliyat,13.14,Yurt içi,M,A,NaN,2.9139,2.9177,2.9201,2.9129,-0.13%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-01,fındık,110,kuruyemiş,NaN,Yurt dışı,B,H,45499.0,13.2635,13.4856,13.8983,12.3977,-1.56%
2021-12-01,fıstık,115,kuruyemiş,NaN,Yurt dışı,B,H,45500.0,13.2635,13.4856,13.8983,12.3977,-1.56%
2021-12-01,kaju,100,kuruyemiş,NaN,Yurt dışı,B,H,45501.0,13.2635,13.4856,13.8983,12.3977,-1.56%
2021-12-01,badem,110,kuruyemiş,NaN,Yurt dışı,B,H,45502.0,13.2635,13.4856,13.8983,12.3977,-1.56%
2021-12-01,ceviz,120,kuruyemiş,NaN,Yurt dışı,B,H,45503.0,13.2635,13.4856,13.8983,12.3977,-1.56%

In [62]:
DF["Price"].isnull().sum()

72048

In [97]:
NaN_price_list = DF[DF['Price'].isna()].index.unique()
NaN_price_list

DatetimeIndex(['2016-05-01', '2016-10-01', '2017-01-01', '2017-04-01',
               '2017-07-01', '2017-10-01', '2018-04-01', '2018-07-01',
               '2018-09-01', '2018-12-01', '2019-06-01', '2019-09-01',
               '2019-12-01', '2020-02-01', '2020-03-01', '2020-08-01',
               '2020-11-01', '2021-05-01', '2021-08-01'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
DF

In [86]:
tarih = pd.to_datetime("2021-12-01")

In [94]:
tarih - timedelta(1)

Timestamp('2021-11-30 00:00:00')

In [96]:
DF.loc[NaN_price_list[0], "Price"]

2016-05-01   NaN
2016-05-01   NaN
2016-05-01   NaN
2016-05-01   NaN
2016-05-01   NaN
              ..
2016-05-01   NaN
2016-05-01   NaN
2016-05-01   NaN
2016-05-01   NaN
2016-05-01   NaN
Name: Price, Length: 3792, dtype: float64

In [99]:
tamUSD.loc[NaN_price_list[0]- timedelta(2), "Price"]

2.7955

In [100]:
NaN_price_list[0] - timedelta(2)

Timestamp('2016-04-29 00:00:00')

In [101]:
for weekend in NaN_price_list:
    DF.loc[weekend, "Price"] = tamUSD.loc[weekend - timedelta(2), "Price"]

In [110]:
DF.loc[NaN_price_list[17], "Price"]

2021-05-01    8.2105
2021-05-01    8.2105
2021-05-01    8.2105
2021-05-01    8.2105
2021-05-01    8.2105
               ...
2021-05-01    8.2105
2021-05-01    8.2105
2021-05-01    8.2105
2021-05-01    8.2105
2021-05-01    8.2105
Name: Price, Length: 3792, dtype: float64

In [107]:
DF["Price"].isnull().sum()

0